<section id="about">

 <div class="row about-wrap">
   <div class="col-full">

     <div class="about-profile-bg"></div>

     <div class="intro">
       <h3 class="animate-this">About Us</h3>
       <p class="lead animate-this"><span>Vision & Magic consulting</span>
         aids organizations manage the most valuable Asset – The Human Capital!  
         We will partner with you to align your everyday HR to deliver your business objective!
         Our belief is that we can be “the connect” between people and business.
         </p>
     </div>

   </div> <!-- end col-full  -->
 </div> <!-- end about-wrap  -->

</section>
