<section id="services">

 <div class="overlay"></div>
 <div class="gradient-overlay"></div>

 <div class="row narrow section-intro with-bottom-sep animate-this">
   <div class="col-full">

       <h3>Services</h3>
        <h1>What We Do.</h1>

        <p class="lead"> Something interesting here.</p>

    </div> <!-- end col-full -->
 </div> <!-- end row -->

 <div class="row services-content">

   <div class="services-list block-1-2 block-tab-full group">

       <div class="bgrid service-item animate-this">

         <span class="icon">
           <i class="fa fa-handshake-o" aria-hidden="true"></i>
         </span>

           <div class="service-content">
             <h3 class="h05">Start-up</h3>

             <p>
               Amidst all the chaos of initial set up and formulating the secret sauce key to your business is HR a focus? Yes it is, but does it become a priority amidst the 1 million things to do? Here’s how we can aid you lay foundations of your Human Resource Practices.
               <br>
               As a start up you MUST:
               <ul>
                  <li> Define Core Values of your organisation </li>
                  <li> Have a Start-up Kit </li>
                  <li> Build a robust Recruitment Management system </li>
                  <li> Ensure Employee Communication </li>
                  <li> Facilitate HR Operations </li>
                  <li> Not  miss out on Labour Compliance </li>
                  <li> Devise HR Audit mechanisms </li>
                  <li> Set up Separation Management </li>
               </ul>
                <!-- Some of these are your thoughts as a founder too?   -->
           </p>

         </div>

     </div> <!-- end bgrid -->

     <div class="bgrid service-item animate-this">

       <span class="icon">
         <i class="fa fa-users" aria-hidden="true"></i>
       </span>

           <div class="service-content">
             <h3 class="h05">Early Growth</h3>

             <p>
                Been in business for 2 plus years? Lots buzzing but most of your time goes in solving people matters?
                Still not quite sure of a full time HR support system? HR can be daunting for small business owners – Some of your must haves that we can help you with:
                <ul>
                  <li>  Define Core Values of your organisation </li>
                  <li> Build a robust Recruitment Management system </li>
                  <li> Fix your HR Budget </li>
                  <li> Work in a structured Employee Engagement plan </li>
                  <li> Ensure Employee Communication </li>
                  <li> Develop your Performance Management System </li>
                  <li> Set up a Capability Building calendar  </li>
                  <li> Be the Voice of your Organisation </li>
                  <li> Not miss out on Labour Compliance  </li>
                  <li> Devise HR Audit mechanisms </li>
                  <li> Manage Separations </li>
                </ul>
                <!-- We can work with you to build scalable HR Solutions. -->
              </p>

           </div>

      </div> <!-- end bgrid -->

      <div class="bgrid service-item animate-this">

       <span class="icon">
         <i class="fa fa-globe" aria-hidden="true"></i>
       </span>

           <div class="service-content">
             <h3 class="h05">Steady Growth</h3>
             <p>
               Do you recognise the need to dedicate more efforts on HR matters?
               <br/>
We will work with you in customising human capabilities and strategies for attracting, developing, motivating, retaining and managing the right people with the right skill sets and right experience to achieve the goals of your organization – all of this while keeping your business in focus.
             </p>
           </div>

      </div> <!-- end bgrid -->

     <div class="bgrid service-item animate-this">

       <span class="icon">
         <i class="fa fa-circle-o-notch" aria-hidden="true"></i>
       </span>

           <div class="service-content">
             <h3 class="h05">Renewal</h3>
             <p>
               Are you having compelling thoughts on organisational transformation?
               <br>
               We will work with you in improving employee buy-in by helping you address key issues that often require change - processes, job roles, organizational structures and types as well as usage of technology. However, organisations do not change, people do!  It is actually the employees of your organization who have to ultimately change how they do their jobs. We will also see through personal transitions.
           </p>
           </div>

     </div> <!-- end bgrid -->

     </div> <!-- end services-list -->

 </div> <!-- end services-content -->

</section>
