<section id="testimonials">

 <div class="row">
   <div class="col-twelve">
     <h2 class="animate-this">Team</h2>
   </div>
 </div>

   <div class="row flex-container">

      <div id="testimonial-slider" class="flex-slider animate-this">

         <ul class="slides">

            <li>
               <p>
                 An accomplished HR professional with over 20 years of experience in People Strategy, Practices, Organisation Development, Performance Management System, Change Management, Talent Acquisition, Talent Retention and Talent Engagement and Compensation & Benefits restructuring.
                 In the entire professional career, she has demonstrated adaptive problem solving skills and has managed complexity across client profiles her through logical partnering and collaboration. Strong influencing skills, obsessive positivity, clear and crisp communication have been her greatest strengths and assets throughout these years.
               </p>

               <div class="testimonial-author">
                   <img src="images/avatars/vidya.jpg" alt="Author image">
                   <div class="author-info">
                     Vidya Unni
                     <span class="position">CEO and Director</span>
                     <span class="position"> vidya@vandmconsulting.in <br> +91 9900100380 </span>

                   </div>
               </div>
           </li> <!-- end slide -->

            <li>
               <p>
                 HR Professional with 12 plus years of experience in employee relations, HR operations, performance management, grievance handling, compensation & benefits administration, conflict resolution, HR Policy development & legal compliance.
  Throughout her career she has managed business requirements between stake holders, whilst driving overall HR processes and policy implementation. She is proficient in key account management and handling strategic business units.
  Been part of HR related projects with established organisations and well as budding start-ups.
               </p>

             <div class="testimonial-author">
                   <img src="images/avatars/maya.jpg" alt="Author image">
                   <div class="author-info">
                     Maya P
                     <span>COO and Director</span>
                     <span>maya@vandmconsulting.in <br> +91 9880499290</span>
                   </div>
               </div>
            </li> <!-- end slide -->

         </ul> <!-- end slides -->

      </div> <!-- end testimonial-slider -->

   </div> <!-- end flex-container -->

</section>
